body{
    width: 1190px;
    margin: 30px auto;
    
}

#quote{
    background-color: rgba(96, 91, 91, 0.363);
    padding: 25px;
    color: slateblue;
    font-weight: 600;
    font-size: 24px;margin: 40px;
    text-align: center;
    font-style: italic;
}

#buddy{
    font-size: 1.7em;
    font-weight: bold;
    background-color: slateblue;
    color: white;
    padding: 40px;
    border: 2px solid gray;

}

.tabling{
    background-color: slateblue;
    color: white;
    padding: 30px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 7px;
    margin-right: 28px;
    margin-top: 15px;
    width: 345px

}
#countries{
    padding: 30px;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
}